In [1]:
import pandas as pd
from datetime import datetime

In [2]:
!$(heroku config:get DATABASE_URL -a landslides)

/bin/sh: postgres://vyavhewrhtvpzj:807f060f51c5988773c3dcd6bd68b769cfe69d8826b5ec5dd17b28d1d4e3af9e@ec2-54-225-249-161.compute-1.amazonaws.com:5432/d9fsrm70s2042g: No such file or directory

In [3]:
from sqlalchemy import create_engine, func
engine = create_engine("postgres://vyavhewrhtvpzj:807f060f51c5988773c3dcd6bd68b769cfe69d8826b5ec5dd17b28d1d4e3af9e@ec2-54-225-249-161.compute-1.amazonaws.com:5432/d9fsrm70s2042g")

In [4]:
# Declare a Base using `automap_base()`
from sqlalchemy.ext.automap import automap_base
Base = automap_base()

# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [5]:
Base.classes.keys()

['landslides']

In [6]:
# mapped classes are now created with names by default
# matching that of the table name.
Landslides = Base.classes.landslides

# Create a session
from sqlalchemy.orm import Session
session = Session(engine)

In [12]:
stmt = session.query(Landslides).statement
df = pd.read_sql_query(stmt, session.bind)
df = df[df['countryname']!="NaN"]
df = df[df['date']!="NaN"]
df['date'] = df['date'].apply(lambda x: datetime.strptime(x, "%m/%d/%Y"))
df['year'] = df['date'].dt.year

In [8]:
#route /api/countrynames

list(df['countryname'].unique())

['United Kingdom',
 'Peru',
 'Brazil',
 'Pakistan',
 'Brunei',
 'Indonesia',
 'Philippines',
 'Sri Lanka',
 'Iran',
 'China',
 'Canada',
 'Fiji',
 'United States',
 'East Timor',
 'France',
 'India',
 'Nepal',
 'Malaysia',
 'Tajikistan',
 'Yemen',
 'Afghanistan',
 'Spain',
 'Jordan',
 'Vietnam',
 'Bulgaria',
 'Colombia',
 'Turkey',
 'Bangladesh',
 'Taiwan',
 'Ecuador',
 'Japan',
 'Norway',
 'Mexico',
 'Dominican Republic',
 'Myanmar [Burma]',
 'Guatemala',
 'Thailand',
 'Australia',
 'Jamaica',
 'Kenya',
 'Uganda',
 'Dominica',
 'North Korea',
 'Trinidad and Tobago',
 'Nicaragua',
 'El Salvador',
 'Bhutan',
 'Costa Rica',
 'Slovenia',
 'Rwanda',
 'New Zealand',
 'Cameroon',
 'Haiti',
 'Nigeria',
 'Democratic Republic of the Congo',
 'Papua New Guinea',
 'Republic of the Congo',
 'Greece',
 'Austria',
 'Puerto Rico',
 'United Arab Emirates',
 'Lebanon',
 'Switzerland',
 'Germany',
 'Chile',
 'Italy',
 'Hong Kong',
 'South Africa',
 'Georgia',
 'Ivory Coast',
 'Azerbaijan',
 'South Korea',
 'Burkina Faso',
 'Ireland',
 'Laos',
 'Panama',
 'Ghana',
 'Singapore',
 'Sierra Leone',
 'Saint Lucia',
 'Honduras',
 'Barbados',
 'Venezuela',
 'Algeria',
 'Argentina',
 'Bolivia',
 'Madagascar',
 'Israel',
 'Tanzania',
 'American Samoa',
 'Bosnia and Herzegovina',
 'Serbia',
 'Angola',
 'Solomon Islands',
 'Portugal',
 'Romania',
 'Zambia',
 'Croatia',
 'Russia',
 'Macedonia',
 'Armenia',
 'Czechia',
 'Poland',
 'Kyrgyzstan',
 'Slovakia',
 'Ethiopia',
 'Ukraine',
 'U.S. Virgin Islands',
 'Saint Vincent and the Grenadines',
 'Cuba',
 'Albania',
 'Namibia',
 'Malawi',
 'Grenada',
 'Bermuda',
 'Swaziland',
 'Iceland',
 'Isle of Man',
 'Oman',
 'Paraguay',
 'Gabon',
 'Sudan',
 'Vanuatu',
 'Guinea',
 'Czech Republic',
 'Luxembourg',
 'Guam',
 'Montenegro',
 'Burundi',
 'Mauritius',
 'Kazakhstan',
 'Belize',
 'Liberia',
 'Saudi Arabia',
 'Mongolia',
 'Jersey',
 'Saint Kitts and Nevis',
 'Morocco',
 'Uzbekistan',
 'Egypt',
 'Cambodia']

In [9]:
df = df.groupby(['countryname', 'year'])['id'].count().reset_index(level='year')

In [10]:
#route /api/<selectedcountry>
df.loc['Sri Lanka'].to_dict(orient='records')

[{'id': 4, 'year': 2007},
 {'id': 5, 'year': 2008},
 {'id': 10, 'year': 2010},
 {'id': 34, 'year': 2011},
 {'id': 2, 'year': 2012},
 {'id': 3, 'year': 2013},
 {'id': 8, 'year': 2014},
 {'id': 5, 'year': 2015},
 {'id': 4, 'year': 2016}]

In [14]:
df.columns

Index(['id', 'date', 'time', 'country', 'nearest_places', 'hazard_type',
       'landslide_type', 'trigger', 'storm_name', 'fatalities', 'injuries',
       'source_name', 'source_link', 'location_description',
       'location_accuracy', 'landslide_size', 'photos_link', 'cat_src',
       'cat_id', 'countryname', 'near', 'distance', 'adminname1', 'adminname2',
       'population', 'countrycode', 'continentcode', 'key', 'version',
       'tstamp', 'changeset_id', 'latitude', 'longitude', 'geolocation',
       'year'],
      dtype='object')

In [30]:
stmt = session.query(Landslides).statement
df = pd.read_sql_query(stmt, session.bind)
df = df[df['countryname']!="NaN"]
df = df[df['date']!="NaN"]
df['date'] = df['date'].apply(lambda x: datetime.strptime(x, "%m/%d/%Y"))
df['year'] = df['date'].dt.year
df = df[['continentcode','distance']].set_index('continentcode')

In [32]:
selectedcontinent="AF"

In [33]:
list(df.loc[selectedcontinent]['distance'])

[14.87649,
 0.27390999999999999,
 8.8762500000000006,
 35.102240000000002,
 4.1202500000000004,
 31.8401,
 0.0036900000000000001,
 37.34675,
 1.92961,
 2.1978300000000002,
 23.55932,
 19.66263,
 6.8458199999999998,
 8.9590499999999995,
 20.306640000000002,
 1.26837,
 0.43096000000000001,
 20.86561,
 9.7847399999999993,
 2.5667200000000001,
 4.0704399999999996,
 0.60653999999999997,
 27.195869999999999,
 35.784570000000002,
 2.88422,
 16.719650000000001,
 31.961880000000001,
 3.3799899999999998,
 1.35928,
 0.13721,
 1.62734,
 0.90874999999999995,
 1.0449600000000001,
 11.5097,
 1.1993499999999999,
 0.0051799999999999997,
 1.88405,
 11.004519999999999,
 9.9548799999999993,
 0.39395999999999998,
 4.2107900000000003,
 1.9536199999999999,
 13.27948,
 25.30499,
 35.464939999999999,
 2.26512,
 12.77276,
 7.4126899999999996,
 4.62704,
 18.9573,
 4.3608200000000004,
 29.776070000000001,
 17.058039999999998,
 10.06095,
 7.2287499999999998,
 9.2367299999999997,
 17.00845,
 19.235479999999999,
 2.6148500000000001,
 5.7434500000000002,
 14.61124,
 17.85567,
 16.835789999999999,
 10.25596,
 4.6606399999999999,
 6.3778100000000002,
 2.1658200000000001,
 0.74528000000000005,
 4.2500799999999996,
 10.48232,
 2.8544700000000001,
 3.1549299999999998,
 38.930010000000003,
 13.64517,
 6.3169199999999996,
 8.8391300000000008,
 14.412419999999999,
 31.550909999999998,
 7.9839799999999999,
 6.3408199999999999,
 0.78305000000000002,
 51.273420000000002,
 2.2982,
 58.785429999999998,
 0.14523,
 5.5062899999999999,
 12.359159999999999,
 16.38336,
 8.1451700000000002,
 0.93271000000000004,
 13.05015,
 15.315950000000001,
 2.54867,
 0.38774999999999998,
 2.7173600000000002,
 0.45136999999999999,
 4.6180599999999998,
 2.2412800000000002,
 0.94637000000000004,
 4.7440499999999997,
 0.36479,
 7.23569,
 0.13539999999999999,
 2.2547999999999999,
 8.5645100000000003,
 8.11191,
 17.28931,
 8.4513800000000003,
 19.231629999999999,
 33.474730000000001,
 23.507010000000001,
 20.35651,
 20.35651,
 20.35651,
 20.35651,
 14.70721,
 15.165570000000001,
 0.16650999999999999,
 13.046760000000001,
 0.87717999999999996,
 10.580170000000001,
 9.7972699999999993,
 18.90016,
 0.74397999999999997,
 6.9204299999999996,
 34.39049,
 8.7571999999999992,
 27.633109999999999,
 47.000219999999999,
 20.764610000000001,
 1.0021599999999999,
 8.8724900000000009,
 5.7803699999999996,
 4.99979,
 5.3618699999999997,
 9.3546200000000006,
 10.62776,
 15.156779999999999,
 6.8518999999999997,
 25.244430000000001,
 4.2768800000000002,
 4.6662699999999999,
 4.2164999999999999,
 8.3321900000000007,
 19.34759,
 19.900960000000001,
 7.0979200000000002,
 5.5029000000000003,
 6.9262300000000003,
 18.999369999999999,
 5.6742100000000004,
 22.396260000000002,
 0.96326000000000001,
 2.4327200000000002,
 1.19756,
 11.383369999999999,
 2.53898,
 2.53898,
 7.3845999999999998,
 24.01192,
 25.141649999999998,
 7.0665699999999996,
 30.840810000000001,
 1.6771100000000001,
 13.722709999999999,
 9.2309400000000004,
 17.54223,
 12.725,
 14.58062,
 1.7926899999999999,
 3.2477900000000002,
 34.729889999999997,
 29.969639999999998,
 32.986719999999998,
 10.20448,
 32.227510000000002,
 2.3638400000000002,
 3.27121,
 0.35448000000000002,
 5.8157699999999997,
 3.819,
 17.009589999999999,
 4.4381199999999996,
 18.407450000000001,
 4.05274,
 17.207170000000001,
 13.38095,
 4.4424700000000001,
 8.8825900000000004,
 2.95397,
 24.962109999999999,
 65.763750000000002,
 0.66762999999999995,
 9.5350400000000004,
 17.24155,
 14.651149999999999,
 6.4167500000000004,
 2.7819099999999999,
 4.7923900000000001,
 4.1461600000000001,
 8.6648399999999999,
 15.655900000000001,
 1.51145,
 10.10496,
 6.9007399999999999,
 15.51882]