In [206]:
import pandas as pd
from datetime import datetime

In [207]:
!$(heroku config:get DATABASE_URL -a landslides)

/bin/sh: postgres://vyavhewrhtvpzj:807f060f51c5988773c3dcd6bd68b769cfe69d8826b5ec5dd17b28d1d4e3af9e@ec2-54-225-249-161.compute-1.amazonaws.com:5432/d9fsrm70s2042g: No such file or directory

In [208]:
from sqlalchemy import create_engine, func
engine = create_engine("postgres://vyavhewrhtvpzj:807f060f51c5988773c3dcd6bd68b769cfe69d8826b5ec5dd17b28d1d4e3af9e@ec2-54-225-249-161.compute-1.amazonaws.com:5432/d9fsrm70s2042g")

In [209]:
# Declare a Base using `automap_base()`
from sqlalchemy.ext.automap import automap_base
Base = automap_base()

# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [210]:
Base.classes.keys()

['landslides']

In [211]:
# mapped classes are now created with names by default
# matching that of the table name.
Landslides = Base.classes.landslides

# Create a session
from sqlalchemy.orm import Session
session = Session(engine)

In [213]:
#initialize an empty list to store the sample metadata table
mylist = []

In [214]:
sel = [Landslides.countryname,Landslides.id,Landslides.date]
results = session.query(*sel).all()
for row in results:
        mylist.append(row)

In [230]:
df = pd.DataFrame.from_dict(mylist, orient='columns', dtype=None)

In [232]:
df = df[df['countryname']!="NaN"]
df = df[df['date']!="NaN"]
df['date'] = df['date'].apply(lambda x: datetime.strptime(x, "%m/%d/%Y"))
df['year']=df['date'].dt.year

In [235]:
df = df.groupby(['countryname', 'year']).count()

In [250]:
df.loc['Sri Lanka']

      id  date
year
2007   4     4
2008   5     5
2010  10    10
2011  34    34
2012   2     2
2013   3     3
2014   8     8
2015   5     5
2016   4     4